#No files ending in "o" or "a"
*.[oa]
#No files ending in tilde
*~
#No .pyc files
*.pyc
#This removes backend data
*.csv
*.db

rid.txt

#No virtual environment folder
sd/
evaluation/db/2013_11_22_201308