#No files ending in "o" or "a"
*.[oa]
#No files ending in tilde
*~
#No .pyc files
*.pyc

#This removes backend data
*.db

#No ipython notebook files
#Might reconsider for documentation purposes
*.ipynb

#No virtual environment folder
sd/
extraction/IncomingHeader201308.txt
extraction/Old
__pycache__/
