{% extends "layout_student.html" %}
{% block subbody %}
  {% if session.logged_in %}

  {% endif %}

  
  

  <h3>Audit</h3>
  <p>Requirement status given the student's specialization</p>
  <ul class=complete_course>
  {% for entry in complete_course%}

  {% for item in entry.Complete %}
    {% if item.Complete %}
    <strong>Fulfilled</strong>
      {% for course in item.Complete %}
      <ul>
      <li>{{course}}</li>
      </ul>
      {% endfor %}
    
    {% endif %}

    {% if item.Incomplete %}
    <strong>Incomplete</strong>
      (complete at least {{ item.MinReq - item.Complete|count}} of the following:)
      {% for course in item.Incomplete %}
      <ul>
      <li>{{course}}</li>
      </ul>
      {% endfor %}
    
    {% endif %}

  {% endfor %}
  {% endfor %}
  </ul>
  <h3>Alternative specialization</h3>
  {% for item in alt_spec_uri %}
  <a href="{{item.uri}}">{{item.specialization}}</a>
  {% endfor%}

  <h3>Courses from current program</h3>
  <p>current program credit total: <span>{% for entry in current_program_credit %} {{ entry.total }} {% endfor %} </span>
  </p>
  
  <table class=current_program_list>
    <thead><td>Semester</td><td>Class</td><td>Credits</td><td>Grade</td></thead>
    {% for entry in current_program_list %}
    <tr><td>{{ entry.Sem }}</td><td>{{ entry.Class }}</td><td>{{ entry.Credits }}</td><td>{{ entry.Grade}}</td></tr>
    {% endfor %}
  </table>


  <h3>Current semester</h3>
  <ul class=current_semester_list>
    
    {% for entry in current_semester_list %}
    <li>{{ entry.Class }}, {{ entry.Credits }}, {{ entry.Grade }} </li>
  {% endfor %}
  </ul>

  {% if nongrad_list %}
  <h3>Non-graduate courses</h3>
  <ul class=nongrad_list>
    {% for entry in nongrad_list %}
    <li>{{ entry.Class }}, {{ entry.Credits }}, {{ entry.Grade }} </li>
  {% endfor %}
    </ul>
  {% endif %}

  {% if ass_list %}  
  <h3>Advanced Special Student courses</h3>
  <ul class=ass_list>
    {% for entry in ass_list %}
    <li>{{ entry.Class }}, {{ entry.Credits }}, {{ entry.Grade }} </li>
  {% endfor %}
  {% endif %}
  

{% endblock %}